.card-containner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: #6c6c6c;
  margin-top: 25px;
  border: 1px solid red;
}

.form-input {
  font-size: 16px;
}

.form-submit {
  font-size: 10px;
  margin-top: 17px;
  margin-bottom: 20px;
}
.form-submit button {
  width: 260px;
  height: 50px;
  font-size: 16px;
  border: 1px solid black;
}

@media (min-width: 576px) {
  .card-containner {
    padding: 20px;
    width: 536px;
  }
  .form-input {
    width: 496px;
  }
  .form-submit button {
    width: 496px;
  }
}


@media (min-width: 768px) {
  .card-containner {
    width: 688px;
  }
  .form-input {
    width: 608px;
  }
  .form-submit button {
    width: 608px;
  }
}

@media (min-width: 992px) {
  .card-containner {
    width: 912px;
  }
  .form-input {
    width: 832px;
  }
  .form-submit button {
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .card-containner {
    width: 1120px;
    margin-top: 40px;
  }
  .form-input {
    width: 1040px;
  }

  .form-submit button {
    width: 400px;
  }
}
