.movie-filter-container {
  padding: 15px;
  margin-bottom: 20px;
}

.movie-filter-botton-container {
  display: flex;
}
.movie-filter-genre-container {
  flex: 1;
  margin-right: 10px;
}

.movie-filter-select {
  color: black;
}

.btn-genre-filter-clear {
  font-weight: bold;
  border-radius: 10px;
}

.btn-genre-filter-word {
  display: none;
}

@media (min-width: 768px) {
  .movie-filter-container {
    width: 620px;
    padding: 10px 15px;
    flex: 1;
  }

  .movie-filter-form {
    display: flex;
  }
  .movie-filter-botton-container {
    flex: 1;
  }
}

@media (min-width: 992px) {
  .movie-filter-container {
    width: 880px;
  }
}

@media (min-width: 1200px) {
  .movie-filter-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
