.movie-filter-container {
  width: 300px;
  padding: 15px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid red;
}

.movie-filter-botton-container {
  display: flex;
}
.movie-filter-genre-container {
  flex: 1;
  margin-right: 10px;
}

.movie-filter-select {
  color: black;
}

.btn-genre-filter-clear {
  font-weight: bold;
  border-radius: 10px;
}

.btn-genre-filter-word {
  display: none;
}

@media (min-width: 576px) {
  .movie-filter-container {
   width: 536px;
  }
}

@media (min-width: 768px) {
  .movie-filter-container {
    width: 688px;

  }

  .movie-filter-form {
    display: flex;
  }
  .movie-filter-botton-container {
    flex: 1;
  }
}

@media (min-width: 992px) {
  .movie-filter-container {
    width: 912px;
  }
}

@media (min-width: 1200px) {
  .movie-filter-container {
    width: 1119px;
  }
}

@media (min-width: 1400px) {
  .movie-filter-container {
    width: 1119px;
  }
}
